{
  "eslintIntegration": true,
  "singleQuote": true,
  "semi": false,
  "tabWidth": 2,
  "trailingComma": "all",
  "printWidth": 160,
  "arrowParens": "avoid",
  "proseWrap": "never",
  "bracketSpacing": true
}
